[submodule "third_party/kstuff-lite"]
	path = third_party/kstuff-lite
	url = https://github.com/EchoStretch/kstuff-lite.git
[submodule "third_party/libgit2"]
	path = third_party/libgit2
	url = https://github.com/libgit2/libgit2.git
